@import url('material/tokens.css');

:root {
  /* LIGHT THEME */
  --md-primary: #6750a4;
  --md-primary-container: #e9ddff;
  --md-on-primary: #ffffff;
  --md-on-primary-container: #22005d;
  --md-secondary: #006b54;
  --md-secondary-container: #67fbd0;
  --md-on-secondary: #ffffff;
  --md-on-secondary-container: #002118;
  --md-tertiary: #755b00;
  --md-tertiary-container: #ffe08e;
  --md-on-tertiary: #ffffff;
  --md-on-tertiary-container: #241a00;
  --md-error: #ba1a1a;
  --md-error-container: #ffdad6;
  --md-on-error: #ffffff;
  --md-on-error-container: #410002;
  --md-outline: #7a757f;
  --md-background: #fffbff;
  --md-on-background: #1c1b1e;
  --md-surface: #fffbff;
  --md-on-surface: #1c1b1e;
  --md-surface-variant: #e7e0eb;
  --md-on-surface-variant: #49454e;
  --md-inverse-surface: #313033;
  --md-inverse-on-surface: #f4eff4;
  --md-inverse-primary: #cfbcff;
  --md-shadow: #000000;
  --md-surface-tint: #6750a4;
  --md-outline-variant: #cac4cf;
  --md-scrim: #000000;

  --primary: var(--md-on-primary);
  --primary-container: var(var(--md-primary-container));
  --on-primary: var(--md-on-primary);
  --background: var(--md-background);
  --on-background: var(--md-on-background);
  --primary-2: var(--md-ref-palette-primary90);
  --secondary: var(--md-on-secondary);
  --secondary-2: var(--md-ref-palette-secondary90);

  --selection: var(--cyan);

  --text-base: var(--md-ref-palette-neutral10);
  --text-primary: var(--md-ref-palette-neutral10);
  --text-secondary: var(--on-secondary);
  --hover: rgba(0, 0, 0, 0.075);
  --hover-1: rgba(0, 0, 0, 0.15);
  --hover-2: rgba(0, 0, 0, 0.25);
  --cyan: #22b8cf;
  --green: #37b679;
  --red: #da3c3c;
  --purple: #f81ce5;
  --blue: #0070f3;
  --pink: #ff0080;
  --pink-light: #ff379c;
  --magenta: #eb367f;
  --violet: var(--md-primary);
  --violet-dark: #4c2889;
  --accent-0: var(--md-ref-palette-primary100);
  --accent-1: var(--md-ref-palette-primary90);
  --accent-2: var(--md-ref-palette-primary80);
  --accent-3: var(--md-ref-palette-primary70);
  --accent-4: var(--md-ref-palette-primary60);
  --accent-5: var(--md-ref-palette-primary50);
  --accent-6: var(--md-ref-palette-primary40);
  --accent-7: var(--md-ref-palette-primary30);
  --accent-8: var(--md-ref-palette-primary20);
  --accent-9: var(--md-ref-palette-primary10);
  --font-sans: 'museo-sans-rounded', -apple-system, system-ui,
    BlinkMacSystemFont, 'Helvetica Neue', 'Helvetica', sans-serif;
}

[data-theme='dark'] {
  --primary: #000000;
  --primary-2: #111;
  --secondary: #ffffff;
  --secondary-2: #f1f3f5;
  --hover: rgba(255, 255, 255, 0.075);
  --hover-1: rgba(255, 255, 255, 0.15);
  --hover-2: rgba(255, 255, 255, 0.25);
  --selection: var(--purple);
  --text-base: white;
  --text-primary: white;
  --text-secondary: black;
  --accent-9: #fff;
  --accent-8: #fafafa;
  --accent-7: #eaeaea;
  --accent-6: #999999;
  --accent-5: #888888;
  --accent-4: #666666;
  --accent-3: #444444;
  --accent-2: #333333;
  --accent-1: #111111;
  --accent-0: #000;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  color: var(--text-primary);
  overscroll-behavior-x: none;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.fadeIn {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  img[loading='lazy'] {
    clip-path: inset(0.5px);
  }
}
